body {
    padding: 0%;
    margin: 0%;
    /* margin: 250; */
}

.navbar {
    position: sticky;
    /* border-style: solid; */
    /* border-color: #2e72a1; */
    background-color: #ffffff;
    width: 100%;
}
.nav-div {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}
#logo {
    margin-left: auto;
    width: 25%;
    max-width: 150px;
}
.nav-ul {
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
}
.nav-li {
    letter-spacing: 5px;
    padding: 0% 5%;
    display: inline;
}
.nav-link {
    font-size: 15px;
    text-decoration: none;
}
.nav-li a:hover {
    /* color: #2e72a1 !important; */
    color: #000000 !important;
}

/* .footer-div { */
    /* display: flex; */
    /* justify-content: center; */
/* } */
/* .footer-ul {
    display: flex;
    justify-content: center;
} */
.footer-link {
    /* display: flex; */
    padding: 5px;
    color: #ffffff;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #051b4e;
    color: #ffffff;
}
/* ul {
    list-style-type: none;
    color: #ffffff;
} */
/* li > a{
    text-decoration: none;
} */

a{
    text-decoration: none;
}